
    #logout{
        display:none;

    }

    #logout{
        float: right;

    }

    #admin{
        display: none;
    }


    .topnav a.log:hover{
        background-color: green;
    }
    #AI:hover{
    background-color:transparent;

    }
    .topnav {
    position: relative;
    width:100%;
  overflow: hidden;
  background-color: #333;

            }

    .topnav a {
      float: left;
      color: white;
      text-align: center;
      padding: 20px 20px;
      text-decoration: none;
      font-size: 17px;
    }
    .topnav a:hover {
      width: 10%;
      background-color: gray;

    }


    l{
    color: red;
    }
    #response{
    float:right;
    max-width: 150px;
    color:black;
    background-color: white;
    border: 2px solid white;
    overflow-wrap: break-word;
    padding: 5px;
    border-radius: 5px;
   //border-bottom-right-radius: 10px;


    }

    #question{
    width:620px;
    float:left;
    }

    #submit-button{

    float:right;
    width: auto;
    text-align:center;

    }
    .container{
    width:680px;

    text-align: center;

    }

    .log_container{
    height: 100vh;
    margin-top:-5%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #kabir{
    width: 200px;
    overflow-wrap: break-word;
    height: auto;
    color: black;
    background-color: white;
    border: 2px solid, green ;
    padding: 5px;
    border-radius: 5px;
    }


    #textbox {
     width: 650px;

     overflow-wrap: break-word;
     background-color: #283747;
     border: 2px solid #283747;
     padding: 12px;
     border-radius: 5px;
     height: 300px;
     overflow-y: scroll;
    }

    .animate{

    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin: .5rem;
    animation: scaling 2.5s ease-in-out infinite;

    }



    @keyframes scaling{
    0%, 100%{
        transform:scale(0.2);
        background-color: white;

    }
    40%{
        transform:scale(1);
        background-color: gray;
    }
    50%{
        transform:scale(1);


    }
    }

    #one{
       animation-delay: 0s;
       transform:scale(0);
    }

    #two{
       animation-delay: .5s;
       transform:scale(0);
    }

    #three{
       animation-delay: 1s;
       transform:scale(0);
    }
    .forms {
    width:20%;
    margin-left:10%;


  }
  #message{
  color: red;
  }

    #footer {
    background-color: #333;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2.5rem;
      text-align: center
    }

body {
    background: linear-gradient(-45deg, #DFFF00, #FFBF00, #FF7F50, #DE3163);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}