<!DOCTYPE html>
<html lang="en">
{% extends "template.html" %}
{% block title %} Delete Users {% endblock%}
{% block content %}
<div class="log_container" style="width: 100%; height: 100vh;" >
    <form method = 'post'>
        <p>Enter user name</p>
        <input type = 'text' name="user">
        <button type="submit" name="submit" value="search">Search</button>
        <button type="submit" style = "display: None;" name="A">Weekly summary</button>
    </form>



</div>

{% endblock %}
</html>