{% extends "template.html" %}
{% block title %} ChatBot {% endblock%}

{% block content %}


<div class="container">

    <h1 style="text-align: center;"><l style="color: white";>Welcome to the AI Chatbot for Education, {{user}}</l> </h1>
    <form style="display:flex; margin-top:20%;">
    <input  type="text" name="question"  id="question">
    <button type = 'submit' id="submit-button">Send</button>
    </form>

    <br>
    <div id = "textbox" >


    </div>


</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='functions.js')}}"></script>

{% endblock %}