{% extends "template.html" %}
{% block title %} ChatBot {% endblock%}
{% block content %}
<style>
    l{
    color: red;
    }
    #response{
    float:right;
    max-width: 150px;
    color:white;
    background-color: #1589FF;
    border: 2px solid #1589FF;
    overflow-wrap: break-word;
    padding: 5px;
    border-radius: 5px;
   //border-bottom-right-radius: 10px;


    }

    #question{
    width:620px;
    float:left;
    }

    #submit-button{

    float:right;
    width: auto;
    text-align:center;

    }
    .container{
    width:680px;
    top: 30%;
    text-align:center;
    margin-top: 10%;



    }
    #kabir{
    width: 200px;
    overflow-wrap: break-word;
    height: auto;
    color: white;
    background-color: green;
    border: 2px solid, green ;
    padding: 5px;
    border-radius: 5px;

    }


    #textbox {
     width: 650px;

     overflow-wrap: break-word;

     border: 2px solid white;
     padding: 12px;
     border-radius: 5px;
     height: 300px;
     overflow-y: scroll;
    }

    .animate{

    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin: .5rem;
    animation: scaling 2.5s ease-in-out infinite;

    }



    @keyframes scaling{
    0%, 100%{
        transform:scale(0.2);

    }
    50%{
        transform:scale(1);

    }
    }






</style>
<h1 style="text-align:center;"><l>Welcome to the AI Chatbot for Education, {{user}}</l> </h1>

<div class="container">
    <body background="https://wallpaperaccess.com/full/1398312.jpg"></body>


    <form style="display:flex;">
    <input  type="text" name="question"  id="question">
    <button type = 'submit' id="submit-button">Send</button>
    </form>

    <br>
    <div id = "textbox">


    </div>


</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
    jQuery(document).ready(function() {
        $("#submit-button").click(function(e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/chat",
                data: {
                    question: $("#question").val()
                },

                success: function(result) {



                    response = result.response;

                    $("<div id='response'><p style='text-align: center';>Me: "+$("#question").val() +"</p></div>").appendTo("#textbox");
                    $("<div style='visibility: hidden'; id='kabir'>Me: "+$("#question").val() +"</p></div><br>").appendTo("#textbox");
                    //<p>Kabir: "+response+"</p>
                    var a = $("<div id='kabir'></div>").appendTo("#textbox");
                    //var b = a.append("<div class='animate' id="first-bot"></div><div class='animate' id="second-bot"></div><div class='animate' id="third-bot"></div>");
                    //$('#AI-response #animate').hide();
                    let b = "<div class='animate'></div><div class='animate' ></div><div class='animate'></div>"
                    a.append(b);




                    setTimeout(function(){
                    a.append("<p>Kabir: "+response+"</p>");
                    $('.animate').remove();
                      }, ((Math.random()*2000)+1000));

                    //$('#AI-response #animate').hide();
                    $("#question").val("")
                    $('#textbox').scrollTop($('#textbox')[0].scrollHeight);

                },
                error: function(result) {
                    alert('error');
                }
            });
        });
    });


    </script>
{% endblock %}