{% extends "template.html" %}
{% block title %} ChatBot {% endblock%}
{% block content %}
<style>
    l{
    color: red;
    }
    #response{
    float:right;
    max-width: 150px;
    color:white;
    background-color: #1589FF;
    border: 2px solid #1589FF;
    overflow-wrap: break-word;
    padding: 5px;
    border-radius: 5px;
   //border-bottom-right-radius: 10px;


    }


    #question{
    size:5;


    }
    .container{
    position: fixed;
    top: 70%;
    left: 50%;
    margin-top: -390px;
    margin-left: -350px;
    }
    #kabir{
    width: 200px;
    overflow-wrap: break-word;
    height: auto;
    color: white;
    background-color: green;
    border: 2px solid, green ;
    padding: 10px;
    border-radius: 5px;

    }


    #textbox {
    width: 650px;

    overflow-wrap: break-word;
     margin-left: -2px;
     border: 2px solid white;
     padding: 10px;
      border-radius: 5px;
      height: 300px;
      overflow-y: auto;
    }
</style>
<div class="container">
    <body background="https://wallpaperaccess.com/full/1398312.jpg"></body>
    <h1><l>Welcome to the AI Chatbot for Education, {{user}}</l> </h1>
    <br>
    <hr>
    <br>


    <form>
    <input  type="text" name="question" size = "75" id="question">
    <button type = 'submit' size="5" id="submit-button">Submit</button>
    </form>

    <br>
    <div id = "textbox">


    </div>


</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
    jQuery(document).ready(function() {
        $("#submit-button").click(function(e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/chat",
                data: {
                    question: $("#question").val()
                },

                success: function(result) {



                    response = result.response;

                    $("<div id='response'><p style='text-align: center';>Me: "+$("#question").val() +"</p></div>").appendTo("#textbox");
                    $("<div style='visibility: hidden'; id='kabir'>Me: "+$("#question").val() +"</p></div><br>").appendTo("#textbox");
                    $("<div id='kabir'><p>Kabir: "+response+"</p></div>").appendTo("#textbox");

                    //$("#new-conv").append("<p id='response'></p><br>");
                    //$("#new-conv").append("<p style='float:right;'id='kabir'></p><br>")
                    //$("#response").append("<p>Me: "+$("#question").val() +"</p><br>");



                    //$("#kabir").append("<p>Kabir: "+response+"</p><br>")
                    $("#question").val("")
                    $('#textbox').scrollTop($('#textbox').height())

                },
                error: function(result) {
                    alert('error');
                }
            });
        });
    });


    </script>
{% endblock %}