{% extends "template.html" %}
{% block title %} Home Page {% endblock%}
{% block content %}

<div id="home" style= "height: 90vh; display: block;">
<h2> Python Flask Website For Education Chat Bot </h2>
<br>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
<h6> Have questions about your class? Use this interactive ChatBot to ask many questions. You are able to ask questions about the class and more! Some examples are seen below:</h6>
<ul>
    <li> What are class times?</li>
    <li> When are professor's office hours?</li>
    <li> When is the midterm/final?</li>
</ul>

<h6> This ChatBot can also be updated by Teacher's and Teacher's assistants. They are able to upload a document full of questions and answers relevant to the class.</h6>
<br>
<h7> Click the picture below or use the ChatBot tab to get started!</h7>
<br>
</div>
{% endblock %}
