{% extends "template.html" %}
{% block title %} Sign in {% endblock%}
{% block content %}



<div class="log_container" >
<form class = "forms" method="POST">
  Username:<br>
  <input type = "text" name='username'><br>
  Password: <br>
  <input type="password" name='password' ><br><br>
  <input type = "submit" name = "login " value="Login"/>
  <input type = "submit" name = "Sign_up" value="Create User"/>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p id="message">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
</form>
</div>





{% endblock %}