{% extends "template.html" %}
{% block title %} Signup{% endblock%}
{% block content %}
<style>
  .forms {
    position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -100px;
  }
  #CreateUser {
   position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -17.5px;
  margin-left: -20px;
  }
  #message{
  color: red;
  }

</style>
<form class = "forms" method="POST">
  <h2></h2>Username:<br>
  <input type = "text" name='username'><br>
  Password: <br>
  <input type="password" name='password' ><br>
  Retype Password: <br>
  <input type="password" name='password2' ><br><br>
  <input type = "submit" value="Sign up">
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p id="message">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
</form>

{% endblock %}