{% extends "template.html" %}
{% block title %} Signup{% endblock%}
{% block content %}
<div class="log_container" >
<form class = "forms" method="POST">
  <h2></h2>
  <label style="text-align: right;display:inline-flex; width: 90px;">First Name: </label><input type = "text" name='firstname' size=9><br>
 <label style="text-align: right; display:inline-flex; width: 90px;">Last Name:  </label><input type = "text" name='lastname' size=9><br>
  Username:<br>
  <input type = "text" name='username'><br>
  Password: <br>
  <input type="password" name='password' ><br>
  Retype Password: <br>
  <input type="password" name='password2' ><br>
   Are you a teacher or a staff of IIT? <br>
    <select name="decision">
      <option value="yes">YES</option>
      <option value="no">NO</option>
    </select><br><br>
  <input type = "submit" value="Sign up">
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p id="message">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
</form>
    </div>
{% endblock %}