<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>

    <div class="topnav">

        <a id = "AI" class="active" href="#" >AI Chat Bot</a>
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        <a class="nav-link" href="{{ url_for('chatbot') }}">ChatBot2.0 </a>
        <a class= 'log' id="sign"  href="{{ url_for('signup') }}" style="float: right;">Sign up</a>
        <a class= 'log' id="logout"  href="{{ url_for('logout') }}">Logout</a>

    </div>

    {% block content %}
    {% endblock %}

{% if 'user_id' in session %}
    <style>
        #sign{
            display: none;
            }
        #logout{
            display: inline-block;
        }
    </style>


{% endif%}



<footer id="footer">
  <p style="color: white";>IPRO 497: Team A (AI ChatBot)&reg<br>
</footer>

</body>

</html>
